@model IEnumerable<Systree.Models.Planta>

@{
    ViewBag.Title = "Glosario";
}

@if (Session["UserName"] != null)
{
    <section class="container py-3">

        <article class="py-3">
            <h2><i class="fa fa-list" aria-hidden="true"></i> Glosario</h2>
            <hr />
            <span class="lead pb-3">Glosario de Plantas</span>
            <a href="~/Plant/Create" class="btn btn-outline-success float-right">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Añadir Planta
            </a>
        </article>

        <article class="col-md-12 p-0">
            <table class="table table-striped">
                <tr>
                    <th>#</th>
                    <th>Tipo</th>
                    <th>Nombre</th>
                    <th>Longitud Promedio</th>
                    <th>Temporada</th>
                    <th>Exposición a la Luz</th>
                    <th>Riego</th>
                    <th>Tipo de Suelo</th>
                    <th>Otros</th>
                    <th>Opciones</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Longitud_promedio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Temporada)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Luz_exposicion)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Riego)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tipo_suelo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Otros)
                        </td>
                        <td>
                            <a href="~/Plant/Details/@item.Id" class="btn btn-outline-info float-right">
                            <i class="fa fa-info-circle" aria-hidden="true"></i> Detalles
                            </a>
                        </td>
                    </tr>
                }

            </table>
        </article>
    </section>
}

else
{
    Response.Redirect("~/Home/Login");
}